#inputTitulo {
    margin: 15px 0px 20px 0px;
    border: 1px solid #ffc7c7;
    padding-left: 20px;
    font-size: 20px;
 }

.telaCriacaoQuizz {
    padding-top: 50px;
}
 
.telaCriacaoQuizz ul, #inputTitulo, .botaoPublicar {
    width: calc(100vw - 500px);
}


#listaDePerguntas .inputPergunta {
    width: 100%;
}

.telaCriacaoQuizz ul, .botaoPublicar{
    margin-bottom: 60px;
}

.telaCriacaoQuizz form {
    display: flex;
    flex-wrap: wrap;
    background: #ffc7c7;
    padding: 15px 20px;
    width: 100%;
    border-radius: 10px;
    height: 280px;
    margin-bottom: 15px;
    justify-content: space-between;
 }

 #listaDePerguntas form input, .larguraMetade {
    width: 49.5%;
    font-size: 16px;
 }

 .telaCriacaoQuizz li {
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 5px 0px;
 }

 .telaCriacaoQuizz h2 {
    align-self: flex-start;
    width: 100%;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
 }

.telaCriacaoQuizz ion-icon {
    color: #ffc7c7;
}

.caixaMaior {
    height: 80px;
    width: 100%;
    background: #ffffff;
    padding: 10px;
}

@media (max-width: 600px) {
    .telaCriacaoQuizz ul, #inputTitulo, .botaoPublicar {
        width: calc(100% - 30px);
    }

    .telaCriacaoQuizz form {
        padding: 20px 10px 10px 10px;
        height: auto;
    }

    .telaCriacaoQuizz ul {
        margin-bottom: 40px;
    }

    .telaCriacaoQuizz {
        padding-top: 30px;
    }

    .telaCriacaoQuizz h2, .telaCriacaoQuizz input, textarea {
        margin-bottom: 10px;
    }
    
    #listaDePerguntas form input, .larguraMetade {
        width: 100%;
    }
}