.secaoFeedback div {
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;
}

.secaoFeedback {
    line-height: 1.5;
}

.telaFinal {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.secaoFeedback figure {
    width: 48%;
    height: 280px;
}

.secaoFeedback img {
    width: 100%;
    height: 100%;
}

.secaoFeedback h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.secaoFeedback p {
    font-size: 16px;
    text-align: justify;
}

@media (max-width: 600px) {
    .secaoFeedback figure  {
        width: 100%;
        margin-top: 15px;
    }

    .secaoFeedback div {
        width: 100%;
        padding: 0px;
    }
}